body{
    background-color: rgb(226, 147, 43);
    
}
ul{
    list-style-type: none;
    margin: 0;
    text-align: center;
}
li{
    display: inline;
    
}
li a{
    display: inline-block;
    padding: 16px;
    text-decoration: none;
}